<header>
  <div class="top">
    <div class="top-netflix">
      <img
        src="../assets/images/netflix-logo.png"
        alt="netflixLogo"
        class="logo"
      />
    </div>
    <div class="top-buttons">
      <select name="languages" id="languages" class="languages">
        <option value="english">English</option>
        <option value="polish" selected>Polski</option>
      </select>
      <button class="login" type="button">Zaloguj się</button>
    </div>
  </div>
  <h1>Nieograniczona oferta filmów, seriali, programów i nie tylko.</h1>
  <span class="top-text-second">Oglądaj wszędzie. Anuluj w każdej chwili.</span>
  <span class="top-text-third">Zaczynamy oglądać? Wprowadź adres e-mail, aby utworzyć lub odnowić konto.</span>
  <div class="email-container">
    <input class="email" type="email" placeholder="Adres e-mail" />
  </div>
  <div class="start-container">
    <button class="start">Rozpocznij</button> 
  </div>
</header>
<main>
  <section id="watch-on-tv">
    <div class="card-container">
      <div class="watchontv-text">
          <h2>
            Oglądaj na telewizorze.
          </h2>
          <div>
            Oglądaj na telewizorach Smart TV, konsolach PlayStation i Xbox, odtwarzaczach Chromecast, Apple TV oraz Blu-ray i nie tylko.
          </div>
      </div>
        <div class="tv-container">
          <img src="../assets/images/tv-netflix.png" alt="netflixTvImage" class="netflix-tv">
        </div>
    </div>
  </section>
  <section id="download">
    <div class="card-container">
      <div class="phone-container">
        <img src="../assets/images/phone-netflix.jpg" alt="phoneImage" class="netflix-phone">
      </div>
      <div class="watchonphone-text">
        <h2>
          Pobieraj ulubione tytuły i oglądaj offline.
        </h2>
        <div>
          Zapisz ulubione tytuły, aby zawsze mieć coś do obejrzenia.
        </div>
      </div>
    </div>
  </section>
  <section class="watch-everywhere">
    <div class="card-container">
      <div class="watcheverywhere-text">
        <h2>
          Oglądaj wszędzie.
        </h2>
        <div>
          Oglądaj filmy, seriale i programy bez ograniczeń na telefonie, tablecie, laptopie, telewizorze... Bez dodatkowych opłat.
        </div>
      </div>
        <div class="mac-container">
          <img src="../assets/images/macbook-netflix.png" alt="macImage" class="netflix-mac">
        </div>
    </div>
  </section>
  <section class="kids">
    <div class="card-container">
      <div class="kids-container">
        <img src="../assets/images/kids-netflix.png" alt="kidsImage" class="netflix-kids">
      </div>
      <div class="kids-text">
        <h2>
          Utwórz profile dla dzieci.
        </h2>
        <div>
          Pozwól dzieciom przeżywać przygody w towarzystwie uwielbianych bohaterów — w specjalnej sekcji serwisu oferowanej bezpłatnie w ramach członkostwa.
        </div>
      </div>
    </div>
  </section>
</main>
