<header>
  <div class="top">
    <div class="top-netflix">
      <img
        src="../assets/images/netflix-logo.png"
        alt="netflixLogo"
        class="logo"
      />
    </div>
    <div class="top-buttons">
      <select name="languages" id="languages" class="languages">
        <option value="english" selected>English</option>
        <option value="polish">Polski</option>
      </select>
      <button class="login" type="button">Zaloguj się</button>
    </div>
  </div>
  <h1>Nieograniczona oferta filmów, seriali, programów i nie tylko.</h1>
  <span class="top-text-second">Oglądaj wszędzie. Anuluj w każdej chwili.</span>
  <span class="top-text-third">Zaczynamy oglądać? Wprowadź adres e-mail, aby utworzyć lub odnowić konto.</span>
  <div class="email-container">
    <input class="email" type="email" placeholder="Adres e-mail" />
  </div>
  <div class="start-container">
    <button class="start">Rozpocznij</button> 
  </div>
</header>
