<header>
  <div class="top">
    <div class="top-netflix">
      <img
        src="../assets/images/netflix-logo.png"
        alt="netflixLogo"
        class="logo"
      />
    </div>
    <div class="top-buttons">
      <select name="languages" id="languages" class="languages">
        <option value="english">English</option>
        <option value="polish" selected>Polski</option>
      </select>
      <button class="login" type="button">Zaloguj się</button>
    </div>
  </div>
  <h1>Nieograniczona oferta filmów, seriali, programów i nie tylko.</h1>
  <span class="top-text-second">Oglądaj wszędzie. Anuluj w każdej chwili.</span>
  <span class="top-text-third">Zaczynamy oglądać? Wprowadź adres e-mail, aby utworzyć lub odnowić konto.</span>
  <div class="email-container">
    <input class="email" type="email" placeholder="Adres e-mail" />
  </div>
  <div class="start-container">
    <button class="start">Rozpocznij</button> 
  </div>
</header>
<main>
  <section id="watch-on-tv">
    <div class="text-container">
      <div class="watchontv-text">
          Oglądaj na telewizorze.
      </div>
      <div>
        Oglądaj na telewizorach Smart TV, konsolach PlayStation i Xbox, odtwarzaczach Chromecast, Apple TV oraz Blu-ray i nie tylko.
      </div>
    </div>
  </section>
  <section id="download">
    <div class="download-text-container">
      <div class="downloadtitles-text">
        Pobieraj ulubione tytuły i oglądaj offline.
      </div>
      <div>
        Zapisz ulubione tytuły, aby zawsze mieć coś do obejrzenia.
      </div>
    </div>
  </section>
  <section class="watch-everywhere">
    <div class="watch-container">
      <div class="watcheverywhere-text">
        Oglądaj wszędzie.
      </div>
      <div>
        Oglądaj filmy, seriale i programy bez ograniczeń na telefonie, tablecie, laptopie, telewizorze... Bez dodatkowych opłat.
      </div>
    </div>
  </section>
  <section class="kids">
    <div class="kids-container">
      <div class="kids-text">
        Utwórz profile dla dzieci.
      </div>
      <div>
        Pozwól dzieciom przeżywać przygody w towarzystwie uwielbianych bohaterów — w specjalnej sekcji serwisu oferowanej bezpłatnie w ramach członkostwa.
      </div>
    </div>
  </section>
</main>
