/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Barlow Semi Condensed', sans-serif;
}


header{
    height: 70vh;
    background-image: url(../src/assets/images/netflix-images.jpg);
    background-position:100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.top{

    display: flex;
    height: 15vh;
    width: 100%;
    // background-color: red;\
    align-items: center;
}
.logo{
    height: 11vh;
    padding: 0px 30px;

}
.top-buttons{
    flex: 1;
    display: flex;
    justify-content: right;

}
.top-buttons .languages{
    margin: 50px 0px;
    height: 35px;
    width: 80px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.top-buttons .login{
    margin: 52px 20px;
    height: 32px;
    width: 100px;
    background-color: red;
    border: none;
    color: #fff;
    border-radius: 0.3rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
h1, span{
    color: #fff;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.top-text-second{
    margin-top: 10px;
    font-size: 2rem;
}
.top-text-third{
    margin-top: 10px;
    font-size: 1.2rem;
}

.email-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.start{
    height: 40px;
    width: 110px;
    background-color: red;
    border: none;
    color: #fff;
    border-radius: 0.3rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
}
.start-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
input, .email{
    height: 2.2rem;
    width: 28rem;
}