
:root{
    --color-red: #e50914
}
button{
    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
}

li{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


header{
    height: 120vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.83),rgba(0, 0, 0, 0.287)), url(../../../assets/images/netflix-images.jpg);
    background-position:100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 8px solid #222;
}


.top{

    display: flex;
    height: 12vh;
    width: 100%;
    align-items: center;
}
.logo{
    height: 11vh;
    padding: 0px 30px;
    cursor: pointer;

}
.top-buttons{
    flex: 1;
    display: flex;
    justify-content: right;

}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: rgba(0,0,0,.75);
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-sizing: border-box;
    min-height: 515px;
    padding: 20px 0 30px;
}
.box-login{
    display: flex;
    font-size: 2rem;
    color: #fff;
    letter-spacing: 1px;
}
.boxes-container{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 310px;
    margin: 0 auto;
    margin-top: 50px;
}
.boxes-container input {
    height: 50px;
    width: 95%;
    margin-top: 20px;
    background-color: #333;
    text-decoration: none;
    border: none;
    border-radius: 4px;
}
.login{
    font-size: 16px;
    padding-left: 20px;
}
.boxes-container button{
    margin-top: 35px;
    background-color: var(--color-red);
    min-height: 50px;
    min-width: 98px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
.under-button{
    display: flex;
    height: 150px;
    width: 310px;
    margin: 0 auto;
}
.under-button div{
    margin-top: 16px;
    margin-left: 28px;
    color: #b3b3b3;
}

.help{
    font-size: 13px;
    position: absolute;
    margin-top: 20px;
}
.register{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 310px;
    margin: 0 auto;
    color: #b3b3b3;
}
.account{
    color: #737373;
}
.register-text{
    color: #fff;
    text-decoration: none;
}
.captcha{
    color: #8c8c8c;
}
.more{
    color: #0071eb;
    text-decoration: none;
}
.more:hover{
    text-decoration: underline;
}
.register-text:hover{
    text-decoration: underline;
}
footer{
    margin-top: 125px;
    height: 18rem;
    background-color: rgba(0,0,0,.75);
}

.site-footer{
    max-width: 1000px;
    margin: 0 auto;
    color: #737373;
}
.footer-top{
    padding-top: 25px;
    letter-spacing: 2px;
}
.footer-links{
    max-width: 1000px;
    font-size: 13px;
    box-sizing: border-box;
    margin-top: 25px;
}
.footer-links li{
    box-sizing: border-box;
    padding: 0;
    margin-bottom: 16px;
    display: inline-block;
    min-width: 100px;
    width: 32%;
    padding-right: 12px;
    vertical-align: top;
    cursor: pointer;
}
.footer-links li:hover{
    text-decoration: underline;
}
.language-selection-container{
    margin-top: 25px;
}
.languages{
    // margin: 50px 0px;
    height: 45px;
    width: 120px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: none;
    border: 1px solid #737373;
    border-radius: 0.01rem;
    color: #737373;
    padding-left: 40px;
}
select option{
    background-color: #000;
}
